<html>
<head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
    <form>
    <input type="text" id="message" />
    <button  id="submit" >Hello </button>

 <p class="result" style="color:green"></p> 
<script type="text/javascript">

$('#submit').click(function(){
    let message = document.querySelector('#message'); 
    let xhr = new XMLHttpRequest();
    let url = "{% url 'create_message' 1 2 %}" ;         
// open a connection 
xhr.open("POST", url, true); 

// Set the request header i.e. which type of content you are sending 
 xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');


// Converting JSON data to string 
var data = JSON.stringify({ "message": message.value,"sender":1 , "receiver":2 }); 

// Sending data with the request 
xhr.send(data); 
xhr.onreadystatechange = function () { 
                if (xhr.readyState === 4 && xhr.status === 200) { 
  
                    // Print received data from server 
                    alert( this.responseText);
  
                } 
            };  
});
</script>
</body>
</html>
